{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<h1>
		Votre panier
	</h1>

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantite</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.product.name}}</td>
						<td>{{ item.product.price / 100}}</td>
						<td>
							<a class="btn btn-sm btn-success" href="{{ path('cart_add', {'id': item.product.id})}}?goToCart=true">
								<i class="fas fa-plus"></i>
							</a>
							{{ item.qty}}
							<a class="btn btn-sm btn-danger" href="{{ path('cart_decrement', {'id': item.product.id})}}">
								<i class="fas fa-minus"></i>
							</a>
						</td>
						<td>{{ item.total / 100 }}</td>
						<td>
							<a class="btn btn-sm btn-danger" href="{{path('cart_delete',{'id': item.product.id})}}">
								<i class="fas fa-trash"></i>
							</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						Total :</td>
					<td>
						<strong>
							{{ total / 100 }}
							Euro
						</strong>
					</td>
				</tr>
			</tfoot>

		</tbody>
	</table>

	{% if app.user %}
		<hr>
		<div>
			<h2>Confirmez votre commande en remplissant ce formulaire</h2>

			{{ form_start(formConfirmation, { 'action': path('purchase_confirm')} )}}
			{{ form_widget(formConfirmation)}}
			<button class="btn btn-success my-2" type="submit">Confirmation</button>
			{{ form_end(formConfirmation)}}

		</div>
	{% else %}
		<hr>
		<h3>Vous devez etre connecte pour confirmer votre commande !
		</h3>
		<a href="{{path('security_login')}}" class="btn btn-success">Connecter</a>
		ou
		<a href="#">Cree une compte</a>
	{% endif %}

{% else %}
	<h2>
		Votre panier est vide  !
	</h2>
{% endif %}{% endblock %}
