<div class="card">
	<img class="img-fluid" src="{{ p.mainPicture}}" alt="">

	<div class="card-body">
		<h4 class="card-title">
			{{ p.name }}
			<strong>
				(
				{{ p.price/100 }}
				&euro;)
			</strong>
		</h4>
		<span class="badge bg-info">{{ p.category.name }}</span>
		<p class="card-text">
			{{ p.shortDescriotion }}
		</p>
		<a href="{{path('product_show',{'category_slug': p.category.slug, 'slug': p.slug })}}" class="btn btn-primary btn-sm">Details</a>
		<a href="{{path('cart_add',{'id': p.id})}}" class="btn btn-success btn-sm">Ajoutes</a>
	</div>
</div>
