{% extends "base.html.twig" %}

{% block body %}

	<h2>Mes Commends</h2>

	<table class="table">

		<thead>
			<tr>
				<td>Numero</td>
				<td>Address</td>
				<td>Date</td>
				<td>Produits</td>
				<td>Total</td>
				<td>Status</td>
			</tr>
		</thead>
		<tbody>
			{% for purchase in purchases %}
				<tr>
					<td>{{ purchase.id}}</td>
					<td>{{ purchase.address}}
						<br>
						{{ purchase.postalcode}}
						-
						{{ purchase.city }}
					</td>
					<td>{{ purchase.purchasedAt | date('Y/m/d H:i')}}</td>
					<td>
						<ul>
							{% for item in purchase.purchaseItems %}
								<li>{{ item.quantity}}
									X
									{{item.productName}}

								</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						({{ purchase.total / 100 }}
						Euro)
					</td>
					<td>
						<span class="alert alert-info py-2">{{ purchase.status}}
						</span>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
