{% extends "base.html.twig" %}


{% block title %}
	Hello
{% endblock %}

{% block body %}
	<h1>
		Hello
		{{ prenom }}
		!

	</h1>

	<h2>
		Nos formateurs
	</h2>

	{% include "_formateur.html.twig" with {'formateur': formateur1 } %}
	{% include "_formateur.html.twig" with {'formateur': formateur2 } %}


{% endblock %}
