<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SymShop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">

				{% for c in categoryRepository.findAll() %}
					<li class="nav-item">
						<a class="nav-link active" href="{{path('product_category', {'slug': c.slug})}}">
							{{ c.name }}
							{# <span class="visually-hidden">(current)</span> #}
						</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="{{ path('cart_show')}}" class="nav-link">
						<i class="fas fa-shopping-cart"></i>
						Panier
						<strong>({{ cartService.total / 100 }})</strong>
					</a>

				</li>
				{% if app.user %}
					<li class="nav-item">
						<a href="{{ path('security_logout')}}" class="btn btn-danger">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{ path('security_login')}}" class="nav-link">Inscription</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('security_login')}}" class="btn btn-success">Login</a>
					</li>
				{% endif %}
			</ul>

		</div>
	</div>
</nav>
